# R Narendranath Reddy

In [1]:
import pandas as pd

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd

aList = [1,2,3,4,5]

df = pd.DataFrame(aList)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
import pandas as pd

aListOfLists = [['Alex' ,10],['Bob' ,12],['Clarke' ,13]]

df = pd.DataFrame(aListOfLists, columns=['Name','Age'])

print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [4]:
import pandas as pd

aDict = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}

df = pd.DataFrame(aDict)

print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [5]:
import pandas as pd

aDict = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 'Age':[28,34,29,42]}

df = pd.DataFrame(aDict, index=['rank','rank2','rank3','rank4'])

print(df)

        Name  Age
rank     Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [6]:
import pandas as pd

aDictOfSeries = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(aDictOfSeries)

print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [7]:
import pandas as pd

aDictOfSeries = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(aDictOfSeries)

print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [8]:
import pandas as pd

aDictOfSeries = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c' ]),
'two' : pd.Series([1, 2, 3, 4, ], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(aDictOfSeries)

df['three']=pd.Series([10,20,30],index=['a','b','c'])

print(df)

df['fout'] = df['one'] + df['three']

print('\n')
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN


   one  two  three  fout
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [9]:
import pandas as pd

aDictOfSeries = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
'three' : pd.Series([10,20,30], index=['a', 'b', 'c'])}

df = pd.DataFrame(aDictOfSeries)
print(df)
print('\n')

del(df['one'])
print(df)
print('\n')

df.pop('two')
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN


   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN


   three
a   10.0
b   20.0
c   30.0
d    NaN

In [10]:
import pandas as pd

aDictOfSeries = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(aDictOfSeries)

print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [11]:
import pandas as pd

aDictOfSeries = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(aDictOfSeries)

print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [12]:
import pandas as pd

df = pd.DataFrame([[1,2], [3,4]], columns = ['a','b'])
df2 = pd.DataFrame([[5,6], [7, 8]], columns = ['a','b'])

df = pd.concat([df, df2])

print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [13]:
import pandas as pd

df = pd.DataFrame([[1, 2],[3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = pd.concat([df, df2])

df = df.drop(0)

print(df)

   a  b
1  3  4
1  7  8